body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin-top: 10px;
}

input {
    width: 12vw;
    height: 9vw;
    border-radius: 10px;
    margin: 10px;
    font-size: 5vw;
    background-color: #000;
    color: #fff;
    border-style: none;
    align-items: center;
}

#myform {
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 7vw;
    margin-right: 50px;
    margin-top: 5px;
}
.disp {
    width: 57vw;
    height: 10vw;
    text-align: center;
    background-color: #fff;
    border: 1px solid cornflowerblue;
    color: cornflowerblue;
    margin-top: 10px;
}
.plus {
    background-color: #cc5c11;
}

.minus {
    background-color: #bb55d3;
}

.multiply {
    background-color: #7db1b2;
}

.clear {
    background-color: #cc0000;
}

.divide {
    background-color: green;
}

#equal {
    background-color: darkslateblue;
}